.vscode/**
.vscode-test/**
out/**
node_modules/**
!node_modules/youch
!node_modules/stacktracey
!node_modules/get-source
src/**
.gitignore
.prettierignore
.yarnrc
webpack.config.js
vsc-extension-quickstart.md
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
.github
test/
